.no-js ul.tabs-content > li {
	display: block;
}

#searchResults .row {
	margin-top: 18px;
}
#searchButton {
	float: right;
}
.result {
	list-style: none;
}
.resultSeparator {
	margin: 0;
	position: relative;
	top: 0.5em;
}
.clearer {
	clear: both;
}
.hidden {
	display: none !important;
}
.picture {
	text-align: center;
}
.artistPicture, .albumPicture {
	max-height: 150px;
	border-radius: 3px;
	box-shadow: 0 0 4px 1px #000;
}

#albumsResults {
	display: none;
}
#albumsResults .row {
	position: relative;
}

#albumsResults .actions {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0;
	visibility: hidden;
}

.artist .info {
	left: -5px;
}
.artist .title {
	cursor: pointer;
}
.artist .title h2 {
	padding-left: 5px;
}
.artist .title:hover h2 {
	color: #fff;
	background-color: #000;
	border-radius: 5px;
}
.artist .subtitle {
	margin-left: 6px;
}

.actionIcon {
	cursor: pointer;
}

#player {
	margin-top: 13px;
}
#player .audio {
	position: absolute;
	top: 13px;
	right: 50px;
}

#searchResults .tabs-content {
	padding-bottom: 85px;
}

/* ---------------------------------------------------- */
#main {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	/*overflow: hidden;*/
	overflow-y: scroll;
}
#footer {
	display: block;
	position: fixed;
	height: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #000;
	z-index: 11000;
	background-color: #2c2c2c;
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
}
.playlistWrapper {
	color: #fff;
}
.currentTrack {
	width: 60%;
}
.currentTrack .track {
	padding: 13px 0 13px 20px;
	font-size: 30px;
	cursor: pointer;
}
.currentTrack .artist {
	font-style: italic;
}
.playlist {
	position: absolute;
	left: -700px;
	bottom: 59px;
	background-color: #2c2c2c;
	border-radius: 0 5px 5px 0;
	transition: 350ms left;

	max-width: 36%;
	overflow-y: auto; 
}
.playlist.visible {
	left: 0px;
}

::-webkit-scrollbar { width: 7px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px; width: 25px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}


@-moz-document url-prefix(http://),url-prefix(https://) {
scrollbar {
   -moz-appearance: none !important;
   background: rgb(0,255,0) !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: rgb(0,0,255) !important;
}

thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: rgb(255,0,0) !important;
}

scrollbarbutton {
   display: none !important;
}

scrollbar[orient="vertical"] {
  min-width: 15px !important;
}
}

.playlist table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin: 0;
	background: #2c2c2c;
}
.playlist table tr {
	border-bottom: 1px dotted #fff;
}
.playlist table tr:last-child {
	border-bottom: none;
}
.playlist li {
	list-style: none;
	font-size: 16px;
}
.playlist .pl-artist {
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	font-weight: bold;
}
.playlist .track {
	padding: 0 20px 0 20px;
	background-color: #2c2c2c;
}
.playlist .track td {
	color: #fff;
	font-size: 16px;
	vertical-align: middle;
	line-height: 14px;
}
.playlist .track .title {
	font-style: italic;
	margin-right: 5px;
	cursor: pointer;
}
.playlist .current .title {
	color: #000;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.playlist .actions {
	width: 90px;
	text-align: right;
}
.playlist .actions div {
	visibility: hidden;
}
.playlist .actions span {
	margin-left: 5px;
}
.playlist .actions a {
	color: #fff;
}

.loader {
	position: absolute;
	right: 115px;
	bottom: 3px;
	visibility: hidden;
}

.trackNameSeparator {
	margin: 0 5px 0 5px;
}